#first{
	color: blue;
	margin: 5px;
}

#first p {
	font-size: 200%;
}

#third{
	color: yellow;
	margin: 5px;

}
#third p {
	/* display: none; */
}	
#fourth{
	color: green;
	margin:  5px;
}



/* these are all on the left side*/


#second{
	color: grey;
	margin:  5px;
}

#fifth{
	color: red;
	margin:  5px;
}



/* these are all on the right side*/

h1 {
	/* display: none; */
}

 .right {
	/* visibility: hidden;  */
	because it is a class we use "." instead of "#" 
}

#sixth{
	color: violet;
	margin:  5px;
}
img {
	/* visibility: visible; */
}

form ~ h1 ~ img {

}

