h1 {
	font-style: italic;
	background-color: black;
	color: white;
	text-align: center;
	font-size: 400%;
}

#NYT {
	/* float: right; */
}

#Authors {
	background-color: green;
}

#background {
	background-color: grey;
}

#middle{
	margin: 0 auto;
	width: 600px;
}


.pic{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.center{
	text-align: center;
}

.summary {
	font-size: 200%;
	text-align: center;
}

.article p {
	text-align: center;
	font-size: 17px;
	font-family: "Times New Roman", Times, serif;
}

.navbar {
	display: inline;
	text-align: center;
	font-size: 30px;

}

#header {
		background-color: red;

}